name: Build FluffyChat Windows

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
        type: string

permissions:
  contents: write

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
      - name: Setup ccache
        uses: Chocobo1/setup-ccache-action@v1
        with:
          windows_compile_environment: msvc

      - name: Install Ninja
        uses: urkle/action-get-ninja@v1

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: krille-chan/fluffychat
          ref: ${{ inputs.version }}
          submodules: recursive
          fetch-depth: 0

      - name: Export env
        id: env
        run: cat .github/workflows/versions.env >> $GITHUB_OUTPUT

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ steps.env.outputs.FLUTTER_VERSION }}
          cache: true

      - name: Install Package Dependencies
        run: flutter pub get

      - name: Build
        run: flutter build windows --release

      - name: Prepare Get LibOlm Tag
        run: pip install requests

      - name: Get LibOlm Tag
        id: get-libolm-tag
        shell: python
        run: |
          import requests
          import os
          token = os.environ.get("GITHUB_TOKEN")
          headers = {"Authorization": f"Bearer {token}"} if token else {}
          data = requests.get("https://api.github.com/repos/MZWNET/actions/releases?per_page=100", headers=headers).json()
          libOlmVersion = ""
          for release in data:
              if "libolm" in release["tag_name"]:
                  libOlmVersion = release["tag_name"].replace("libolm-", "")
                  break
          print(f"Found libolm version: {libOlmVersion}")
          with open(os.environ['GITHUB_OUTPUT'], 'a') as f:
              f.write(f"libolm-version={libOlmVersion}\n")

      - name: Add LibOlm DLL
        run: |
          echo "${{ steps.get-libolm-tag.outputs.libolm-version }}"
          curl -L -o libolm-release-${{ steps.get-libolm-tag.outputs.libolm-version }}.zip https://github.com/MZWNET/actions/releases/download/libolm-${{ steps.get-libolm-tag.outputs.libolm-version }}/libolm-release-${{ steps.get-libolm-tag.outputs.libolm-version }}.zip
          7z x libolm-release-${{ steps.get-libolm-tag.outputs.libolm-version }}.zip build/windows/x64/runner/Release/
          rm -Force libolm-release-${{ steps.get-libolm-tag.outputs.libolm-version }}.zip

      - name: Pack
        run: |
          cd build/windows/x64/runner/Release/
          7z a ../../../../fluffychat-win-${{ inputs.version }}.zip .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: win-artifact
          path: build/fluffychat-win-${{ inputs.version }}.zip

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: fluffychat-${{ inputs.version }}
          name: Fluffychat Windows Binary (${{ inputs.version }})
          body: This release contains the windows x86_64 binary of [fluffychat](https://github.com/krille-chan/fluffychat).
          files: build/fluffychat-win-${{ inputs.version }}.zip
          fail_on_unmatched_files: true
