name: Build GPSRider

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Revision"
        required: true
        type: string

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: RomanK2311/GPSRider
          ref: ${{ inputs.version }}
          submodules: recursive
          fetch-depth: 0

      - name: Get short commit hash
        id: short_commit_hash
        uses: prompt/actions-commit-hash@v3
        with:
          commit: ${{ inputs.version }}

      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          java-version: 18
          distribution: temurin

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build Release
        run: ./gradlew --no-daemon assembleRelease

      - name: Upload Magisk Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: GPSRider
          path: app/build/outputs/apk/release/app-release.apk

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: gpsrider-${{ steps.short_commit_hash.outputs.short }}
          name: Binary build for GPSRider (${{ steps.short_commit_hash.outputs.short }})
          body: |
            This release contains the release-build apk of [GPSRider](https://github.com/RomanK2311/GPSRider).
          files: app/build/outputs/apk/release/app-release.apk
          fail_on_unmatched_files: true
