name: Build OpenEUICC

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  get_short_commit_hash:
    runs-on: ubuntu-latest
    outputs:
      hash: ${{ steps.short_commit_hash.outputs.short }}
    steps:
      - name: Prepare commit hash
        id: commit_hash
        run: |
          git clone https://github.com/RomanK2311/GPSRider cache --depth 1
          cd cache
          echo "hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          cd ..
          rm -rf cache
      - name: Get short commit hash
        id: short_commit_hash
        uses: prompt/actions-commit-hash@v3
        with:
          commit: ${{ steps.commit_hash.outputs.hash }}
  build:
    needs: get_short_commit_hash
    runs-on: ubuntu-latest
    steps:
      - name: Repository Checkout
        uses: actions/checkout@v5
        with:
          repository: RomanK2311/GPSRider
          submodules: recursive
          fetch-depth: 0

      - name: Install JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build Release
        run: ./gradlew --no-daemon assembleRelease

      - name: Upload Magisk Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: GPSRider
          compression-level: 0
          path: app/build/outputs/apk/*

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: gpsrider-${{ needs.get_short_commit_hash.outputs.hash }}
          name: Binary build for GPSRider (${{ needs.get_short_commit_hash.outputs.hash }})
          body: |
            This release contains the release-build apk of [GPSRider](https://github.com/RomanK2311/GPSRider).
          files: app/build/outputs/apk/*
          fail_on_unmatched_files: true