name: Build nchat

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
        type: string

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      semver: ${{ steps.prepare_semver.outputs.semver }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: d99kris/nchat
          ref: ${{ inputs.version }}
          path: nchat

      - name: Prepare Semver Version
        id: prepare_semver
        run: echo "semver=$(echo ${{ inputs.version }} | sed 's/^v//')" >> $GITHUB_OUTPUT

      - name: Setup Go Environment
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false

      - name: Install Dependencies
        run: sudo apt-get install ccache cmake build-essential gperf help2man libreadline-dev libssl-dev libncurses-dev libncursesw5-dev ncurses-doc zlib1g-dev libsqlite3-dev libmagic-dev -y
      - name: Build
        run: |
          cd nchat
          mkdir -p build && cd build && cmake .. && make -s
          mkdir -p bin
          make DESTDIR="./bin" install

      - name: Pack tar.gz
        run: |
          mkdir artifacts
          cd nchat/build/bin/
          chmod 755 usr/local/bin/nchat
          tar -zcvf ../../../artifacts/nchat-${{ inputs.version }}-x86_64-binary.tar.gz .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: tar_gz
          path: artifacts/nchat-${{ inputs.version }}-x86_64-binary.tar.gz

  pack_deb:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download tar.gz
        uses: actions/download-artifact@v7
        with:
          path: |
            artifacts/

      - name: Prepare
        run: |
          mkdir -p build
          cd build
          tar -zxvf ../artifacts/nchat-${{ inputs.version }}-x86_64-binary.tar.gz

      - name: Pack deb
        id: pack_deb
        uses: jiro4989/build-deb-action@v4
        with:
          package: nchat
          package_root: build/
          maintainer: d99kris
          version: ${{ needs.build.outputs.semver }}
          arch: amd64
          depends: "ncurses, file, sqlite3, openssl, glibc, zlib, libxcb1, lib64gcc-s1, libpng16-16"
          desc: "nchat is a terminal-based chat client for Linux and macOS with support for Telegram and WhatsApp."

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: deb
          path: ${{ steps.pack_deb.outputs.file_name }}

  pack_zst:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: workspace

      - name: Download tar.gz
        uses: actions/download-artifact@v7
        with:
          path: |
            artifacts/

      - name: Prepare
        run: |
          cp -r workspace/assets/archlinux/ build/
          cp artifacts/nchat-${{ inputs.version }}-x86_64-binary.tar.gz build/nchat-bin/
          wget https://github.com/d99kris/nchat/raw/master/LICENSE -o build/nchat-bin/LICENSE
          sed -i "s/#{{ver}}/${{ needs.build.outputs.semver }}/g" build/nchat-bin/PKGBUILD
          sed -i "s/#{{nchat-bin-md5sum}}/$(md5sum build/nchat-bin/nchat-${{ inputs.version }}-x86_64-binary.tar.gz | cut -d ' ' -f1)/g" build/nchat-bin/PKGBUILD
          sed -i "s/#{{license-md5sum}}/$(md5sum build/nchat-bin/LICENSE | cut -d ' ' -f1)/g" build/nchat-bin/PKGBUILD

      - name: Pack zst for ArchLinux
        id: pack_zst
        uses: edlanglois/pkgbuild-action@v1
        with:
          pkgdir: build/nchat-bin

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: zst
          path: ${{ steps.pack_zst.outputs.pkgfile0 }}

  release:
    runs-on: ubuntu-latest
    needs: [pack_deb, pack_zst]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: |
            dist/

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: nchat-${{ inputs.version }}
          name: nchat Binary (${{ inputs.version }})
          body: This release contains the x86_64 binary of [nchat](https://github.com/d99kris/nchat).
          files: dist/**/*
          fail_on_unmatched_files: true
