name: Update

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "assets/nvchecker/config.toml"
      - ".github/workflows/nvchecker.yml"
      - "tools/**/**"

permissions:
  actions: write
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: nvchecker
          path: cache

      - name: Prepare Version Record Files
        run: |
          mv cache/*.json assets/nvchecker/
          rm -rf cache

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "cpython-3.12.12"

      - name: Install nvchecker
        run: uv tool install nvchecker

      - name: Check update
        run: |
          nvchecker -c assets/nvchecker/config.toml
          nvcmp -c assets/nvchecker/config.toml -j > assets/nvchecker/result.json
          nvtake -c assets/nvchecker/config.toml --all

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: vx.x.x
          cache: true

      - name: Trigger Actions
        working-directory: tools/update_callback
        run: |
          deno install
          deno task start --config "${{ github.workspace }}/assets/nvchecker/config.toml" --newver "${{ github.workspace }}/assets/nvchecker/new_ver.json" --ref "master" --repo "MZWNET/actions" --result "${{ github.workspace }}/assets/nvchecker/result.json" --token "${{ secrets.GITHUB_TOKEN }}"

      - name: Cleanup Releases
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const main = require('${{ github.workspace }}/tools/clean_release/main.js');
            const TARGET_PREFIXES = [
              "fluffychat-",
              "gpsrider-",
              "nightly-",
              "llama_cpp-",
              "nchat-",
              "openeuicc-",
              "sd-",
              "ui-tars-desktop-",
              "whisper_cpp-",
            ];
            const KEEP_COUNT_MATCHED = 9;
            const KEEP_COUNT_OTHERS = 1;
            await main({github, context, TARGET_PREFIXES, KEEP_COUNT_MATCHED, KEEP_COUNT_OTHERS});

      - name: Commit Version Record Files
        working-directory: assets/nvchecker
        run: |
          git init
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions Bot"
          git remote add origin https://github-action:${{ secrets.GITHUB_TOKEN }}@github.com/MZWNET/actions.git
          git branch -M nvchecker
          git add new_ver.json old_ver.json
          git commit -m "chore: update version record files changes"
          git push -f origin nvchecker
