name: Build stable-diffusion.cpp

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
        type: string

permissions:
  contents: write

jobs:
  build_openblas_avx2_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install Deps
        run: |
          sudo apt-get update
          sudo apt-get install ccache ninja-build libopenblas-dev zip -y

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: leejet/stable-diffusion.cpp
          submodules: recursive

      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DGGML_BLAS=ON -DGGML_BLAS_VENDOR=OpenBLAS -DGGML_AVX2=ON -DSD_BUILD_SHARED_LIBS=ON -DSD_BUILD_SHARED_GGML_LIB=ON
          cmake --build . --config Release -j $(nproc)

      - name: Pack
        run: |
          mkdir -p build/dist
          find . -name "*.so" -exec mv {} build/bin/ \;
          cd build/bin/ || exit
          zip ../dist/sd-${{ inputs.version }}-bin-linux-openblas-avx2-x64.zip ./*

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: openblas-avx2-linux
          path: build/dist/*

  build_sycl_avx2_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install Deps
        run: |
          wget -O- https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB | gpg --dearmor | sudo tee /usr/share/keyrings/oneapi-archive-keyring.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/oneapi-archive-keyring.gpg] https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.list.d/oneAPI.list
          sudo apt-get update
          sudo apt-get install ccache intel-basekit intel-oneapi-mkl intel-oneapi-mkl-devel ninja-build zip -y

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: leejet/stable-diffusion.cpp
          submodules: recursive

      - name: Build
        run: |
          mkdir build
          cd build
          source /opt/intel/oneapi/setvars.sh
          cmake .. -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DSD_SYCL=ON -DCMAKE_C_COMPILER=icx -DCMAKE_CXX_COMPILER=icpx -DGGML_AVX2=ON -DSD_BUILD_SHARED_LIBS=ON -DSD_BUILD_SHARED_GGML_LIB=ON
          cmake --build . --config Release -j $(nproc)

      - name: Pack
        run: |
          mkdir -p build/dist
          find . -name "*.so" -exec mv {} build/bin/ \;
          cd build/bin/ || exit
          zip ../dist/sd-${{ inputs.version }}-bin-linux-sycl-avx2-x64.zip ./*

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: sycl-avx2-linux
          path: build/dist/*

  build_cu130_avx512_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install CUDA
        id: install-cuda
        uses: MZWNET/cuda-toolkit@master
        with:
          cuda: "13.0.1"
          method: network

      - name: Install Deps
        run: sudo apt-get install ccache zip ninja-build -y

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: leejet/stable-diffusion.cpp
          submodules: recursive

      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DSD_CUDA=ON -DCMAKE_CUDA_ARCHITECTURES=86 -DSD_FAST_SOFTMAX=ON -DGGML_AVX512=ON -DSD_BUILD_SHARED_LIBS=ON -DSD_BUILD_SHARED_GGML_LIB=ON
          cmake --build . --config Release -j $(nproc)

      - name: Pack
        run: |
          mkdir -p build/dist
          find . -name "*.so" -exec mv {} build/bin/ \;
          cd build/bin/ || exit
          zip ../dist/sd-${{ inputs.version }}-bin-linux-avx512-cublas-cu130-x64.zip ./*

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: cu130-avx512-linux
          path: build/dist/*

  build_metal_macos:
    runs-on: macos-latest
    steps:
      - name: Install Deps
        run: |
          brew install zip ccache ninja libomp

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: leejet/stable-diffusion.cpp
          submodules: recursive

      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -G "Ninja" -DCMAKE_BUILD_TYPE=Release -DCMAKE_OSX_ARCHITECTURES="arm64" -DSD_BUILD_SHARED_LIBS=ON -DSD_BUILD_SHARED_GGML_LIB=ON -DSD_METAL=ON -DGGML_METAL_USE_BF16=ON -DGGML_METAL_EMBED_LIBRARY=ON -DCMAKE_INSTALL_RPATH='@loader_path' -DCMAKE_BUILD_WITH_INSTALL_RPATH=ON -DGGML_RPC=ON
          cmake --build . --config Release -j $(sysctl -n hw.physicalcpu)

      - name: Pack
        run: |
          mkdir -p build/dist
          cd build/bin/ || exit
          zip ../dist/sd-${{ inputs.version }}-bin-macos-metal-arm64.zip ./*

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: metal-macos
          path: build/dist/*

  release:
    runs-on: ubuntu-latest
    needs:
      [
        build_openblas_avx2_linux,
        build_sycl_avx2_linux,
        build_cu130_avx512_linux,
        build_metal_macos,
      ]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: |
            dist/

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: sd-${{ inputs.version }}
          name: Binary build for stable-diffusion.cpp (${{ inputs.version }})
          body: |
            This release contains the x86_64 binary of [stable-diffusion.cpp](https://github.com/leejet/stable-diffusion.cpp).
          files: dist/**/*
          fail_on_unmatched_files: true
