name: Sync AviumUI org repos to CNB
on:
  # schedule:
  #   - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/sync-aviumui-cnb.yml"

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync all AviumUI repos to CNB
        uses: MZWNET/org-snapshot-mirror@master
        with:
          source_org: "AviumUI"
          source_token: ${{ secrets.GITHUB_TOKEN }}
          source_repos: '["android_manifests", "android_art", "android_bootable_recovery", "android_build, "android_build_soong", "android_device_lineage_sepolicy", "android_frameworks_av", "android_frameworks_base", "android_frameworks_libs_systemui", "android_frameworks_native", "android_frameworks_opt_telephony", "android_lineage-sdk", "android_packages_apps_AviumFreeWindow", "packages_apps_AviumSetup", "android_packages_apps_AviumSystemUIEX", "android_packages_apps_BtHelper", "android_packages_apps_CatShare", "android_packages_apps_DepthWallpaperHelper", "android_packages_apps_Launcher3", "android_packages_apps_LineageParts", "android_packages_apps_Note", "android_packages_apps_Messaging", "android_packages_apps_Settings", "android_packages_apps_SetupWizard", "android_packages_apps_Updater", "android_packages_apps_Via", "android_packages_apps_MoonOCR", "android_packages_apps_OmniJaws", "android_packages_apps_FeatureSettings", "android_packages_apps_MoonWidget", "android_packages_apps_AviumUseful", "android_packages_apps_SystemUITools", "android_packages_apps_GameSpace", "android_packages_apps_AviumLockscreenEdit", "android_packages_modules_Nfc", "android_packages_apps_ParanoidSense", "android_packages_apps_AviumLyricBarCore", "android_packages_apps_ColumbusService", "android_system_core", "android_vendor_lineage", "android_vendor_avium"]'
          target_url: "https://cnb.cool/MZWNET/AviumUI/"
          target_username: "MZWNET"
          target_password: ${{ secrets.CNB_GIT_PASSWORD }}
          target_platform: "cnb"
          cnb_api_token: ${{ secrets.CNB_GIT_PASSWORD }}
          cnb_org_path: "MZWNET/AviumUI"
          max_parallel: "5"
